- provide :title, t('page_title.signup')

%h1
  = t('page_title.login')

.row
  .col-md-6.col-md-offset-3
    = form_for(:session, url: login_path) do |f|
      = f.label :user_name, t('activerecord.attributes.user.user_name')
      = f.text_field :user_name, class: 'form-control'

      = f.label :password, t('activerecord.attributes.user.password')
      = f.password_field :password, class: 'form-control'

      = f.label :remember_me, class: 'checkbox inline' do
        = f.check_box :remember_me
        %span
          = t('pages.remember_me')
      = f.submit t('pages.login'), class: 'btn btn-primary'
    %p #{t('pages.new_user')}? #{link_to t('pages.signup'), signup_path}