%li
  = link_to header_tag(user), user
  = link_to user.user_name, user
  - key_name = "activerecord.attributes.user_group.#{user.user_group.name}"
  (#{ t(key_name) } #{ user.level } 级)

  - if current_user.has_permission?(Permission::MANAGE_USERS)
    = link_to t('pages.delete'), user, method: :delete,  data: { confirm: t('pages.confirm') }
