- provide :title, @novel.name

%h3
  = @novel.name

.row
  %aside.col-md-4
    %section.novel_info
      = cover_tag(@novel)
      %p= link_to t('pages.edit'), edit_novel_path
      %p 名字: #{@novel.name}
      %p
        类型:
        = link_to @novel.category.name , @novel.category
      %p
        内容简介
        = @novel.description
  .col-md-8
    .finish_chapters
      - @novel.all_finished_chapters.each do |chapter|
        %li= link_to chapter.full_title, chapter

